<h2>Your Artisans</h2>
<%= link_to 'Create New Artisan', new_admin_artisan_path(@admin), class: 'btn btn-primary' %>

  <% if @admin.artisans.any? %>
    <table id="artisan-list">
      <thead>
        <tr>
          <th>Store Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @admin.artisans.each do |artisan| %>
          <tr>
            <td>
              <%= artisan.store_name %>
            </td>
            <td>
              <%= artisan.email %>
            </td>
            <td>
              <%= link_to 'Edit Artisan Data', edit_admin_artisan_path(@admin, artisan), class: 'btn btn-secondary' %>
                |
                <%= link_to "Delete Data for #{artisan.store_name}", admin_artisan_path(@admin, artisan), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure you want to delete all data for #{artisan.store_name}?" } %>

            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <% else %>
      <p>No artisans yet. Start by <%= link_to 'creating a new artisan' , new_admin_artisan_path(@admin) %>.</p>
      <% end %>