<div id="<%= dom_id invoice_item %>">
  <p>
    <strong>Invoice:</strong>
    <%= invoice_item.invoice_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= invoice_item.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= invoice_item.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= invoice_item.unit_price %>
  </p>

</div>
