<div id="<%= dom_id transaction %>">
  <p>
    <strong>Invoice:</strong>
    <%= transaction.invoice_id %>
  </p>

  <p>
    <strong>Credit card number:</strong>
    <%= transaction.credit_card_number %>
  </p>

  <p>
    <strong>Credit card expiration date:</strong>
    <%= transaction.credit_card_expiration_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
