<h1>Edit Product Details</h1>

<%= form_with model: [@artisan, @product], local: true do |form| %>
  <div>
    <%= form.label :name, "Product Name" %>
      <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "Product Description" %>
      <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, "Price" %>
      <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :stock, "Quantity in Stock" %>
      <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.submit "Update Product" %>
  </div>
  <% end %>

    <%= link_to 'Back to Artisan Homepage' , artisan_path(@artisan) %>