<p class="notice">
  <%= notice %>
</p>

<h1>Your Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
      <p>
        <%= link_to "Show #{product.name}", artisan_product_path(@artisan, product), class: 'btn btn-secondary' %>
      </p>
      <% end %>
</div>

<%= link_to 'Add New Product' , new_artisan_product_path(@artisan), class: 'btn btn-primary' %>
<%= link_to 'Back to Dashboard', dashboard_artisan_path(@artisan), class: 'btn btn-primary' %>
