<p class="notice">
  <%= notice %>
</p>

<!-- Render product details without stock for admins -->
<div class="product-details">
  <h2>
    <%= @product.name %>
  </h2>
  <p><strong>Description:</strong>
    <%= @product.description %>
  </p>
  <p><strong>Price:</strong> $<%= '%.2f' % @product.price %> </p>


  <!-- Show stock only if the current user is the artisan -->
  <% if current_user==@product.artisan %>
    <p><strong>Stock:</strong>
      <%= @product.stock %>
    </p>
    <% end %>
</div>

<!-- Links for Artisan -->
<% if current_user==@product.artisan %>
  <div class="artisan-links">
    <%= link_to "Edit #{@product.name}", edit_artisan_product_path(@product.artisan, @product),
      class: 'btn btn-secondary' %>
      |
      <%= link_to "Delete #{@product.name}", artisan_product_path(@product.artisan, @product), data: { turbo_method:
        :delete, turbo_confirm: "Are you sure you want to delete your #{@product.name}?" }, class: 'btn btn-danger' %>
        <%= link_to 'Add New Product', new_artisan_product_path(@product.artisan), class: 'btn btn-primary' %>
          <%= link_to 'Back to Dashboard', dashboard_artisan_path(@product.artisan), class: 'btn btn-primary' %>
  </div>
  <% end %>

    <!-- Links for Admin -->
    <% if current_user.is_a?(Admin) %>
      <div class="admin-links">
        <%= link_to 'Back to Artisan Products', artisan_products_path(@product.artisan), class: 'btn btn-secondary' %>
          <%= link_to 'Back to All Artisans', admin_artisans_path(current_user), class: 'btn btn-secondary' %>
      </div>
      <% end %>