<p class="notice">
  <%= notice %>
</p>

<!-- Render product details without stock for admins -->
<div class="product-details">
  <h2>
    <%= @product.name %>
  </h2>
  <p><strong>Description:</strong>
    <%= @product.description %>
  </p>
  <p><strong>Price:</strong> $<%= '%.2f' % @product.price %> </p>


  <!-- Show stock only if the current user is the artisan -->
  <% if current_user==@product.artisan %>
    <p><strong>Stock:</strong>
      <%= @product.stock %>
    </p>
    <% end %>
</div>
<!-- Render all product discounts -->
<% if @product.discounts.any? %>
  <h3>Active & Upcoming Discounts</h3>
  <table id="discounts">
    <thead>
      <tr>
        <th>Type</th>
        <th>Discount</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @product.discounts.each do |discount| %>
        <tr id="discount-<%= discount.id %>">
          <td>
            <%= discount.discount_type.capitalize %>
          </td>
          <td>
            <% if discount.percentage_off.present? %>
              <%= number_to_percentage(discount.percentage_off, precision: 0) %> off<br>
                <small>(Now <%= number_to_currency(discount.discount_price) %>)</small>
                <% else %>
                  <%= number_to_currency(discount.discount_price) %>
                    <% end %>
          </td>
          <td>
            <%= discount.start_date.strftime('%B %d, %Y') %>
          </td>
          <td>
            <%= discount.end_date.strftime('%B %d, %Y') %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <% else %>
    <p><em>No discounts available at the moment.</em></p>
    <% end %>


<!-- Links for Artisan -->
<% if current_user==@product.artisan %>
  <div class="artisan-links">
    <%= link_to "Edit #{@product.name}", edit_artisan_product_path(@product.artisan, @product),
      class: 'btn btn-secondary' %>
      |
      <%= link_to "Delete #{@product.name}", artisan_product_path(@product.artisan, @product), data: { turbo_method:
        :delete, turbo_confirm: "Are you sure you want to delete your #{@product.name}?" }, class: 'btn btn-danger' %>
        <%= link_to 'Add New Product', new_artisan_product_path(@product.artisan), class: 'btn btn-primary' %>
          <%= link_to 'Back to Dashboard', dashboard_artisan_path(@product.artisan), class: 'btn btn-primary' %>
  </div>
  <% end %>

    <!-- Links for Admin -->
    <% if current_user.is_a?(Admin) %>
      <div class="admin-links">
        <%= link_to 'Back to Artisan Products', artisan_products_path(@product.artisan), class: 'btn btn-secondary' %>
          <%= link_to 'Back to All Artisans', admin_artisans_path(current_user), class: 'btn btn-secondary' %>
      </div>
      <% end %>
