<div id="<%= dom_id review %>">
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= review.text %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= review.product_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= review.customer_id %>
  </p>

</div>
