<div id="<%= dom_id artisan %>">
  <p>
    <strong>Store name:</strong>
    <%= artisan.store_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= artisan.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= artisan.password_digest %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= artisan.admin_id %>
  </p>

</div>
