<h1>Artisans for <%= @admin.email %></h1>

<table>
  <thead>
    <tr>
      <th>Store Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @artisans.each do |artisan| %>
      <tr>
        <td>
          <%= artisan.store_name %>
        </td>
        <td>
          <%= artisan.email %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_artisan_path(@admin, artisan), confirm: 'Are you sure?' %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Create New Artisan', new_admin_artisan_path(@admin) %>