<h2>Your Products</h2>
<%= link_to 'Create New Product', new_artisan_product_path(@artisan), class: 'btn btn-primary' %>

  <% if @artisan.products.any? %>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity In Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @artisan.products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= number_to_currency(product.price, unit: '$' ) %>
            </td>
            <td>
              <%= product.stock %>
            </td>
            <td>
              <%= link_to 'Edit Product', edit_artisan_product_path(@artisan, product), class: 'btn btn-secondary' %> |
                <%= link_to "Delete #{product.name}", artisan_product_path(@artisan, product), 
                    data: { turbo_method: :delete, 
                            turbo_confirm: "Are you sure you want to delete your #{product.name}?" } %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
      <p>No products yet. Start by <%= link_to 'creating a new product', new_artisan_product_path(@artisan) %>.</p>
      <% end %>